$background-color: #d5f3fe;
$main-color: #2565ae;

#movie-card {
  margin: 0 0 20px 20px;
  padding: none;
  background-color: transparent;
  border: none;
}

p {
  font-size: 20px;
}

#movie-img {
  max-width: 260px;
  height: 350px;
  border-radius: 10px;
}

#open-btn {
  background-color: $main-color;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
}
