$main-color: #2565ae;

.fav-movie {
  margin: 20px;
}

#btn2 {
  background-color: $main-color;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  float: right;
}

.favs {
  margin-top: 50px;
}
