$main-color: #2565ae;

#btn2 {
  background-color: $main-color;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  border: none;
}

#fav-btn2 {
  background-color: $main-color;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
  float: right;
  font-size: 25px;
  margin: 10px 0 30px 0;
}

#fav-movie {
  margin: 0 auto;
}

.favorite-container {
  margin: 0 100px;
}

@media (max-width: 1000px) {
  .favs {
    margin-top: 50px;
  }
}
