$main-color: hwb(212 15% 32%);
$background-color: #d5f3fe;


.main-view {
  background-color: $background-color;
  color: $main-color;
}

#id {
  float: right;
}

html {
  background-color: $background-color;
}
