$main-color: #2565ae;

.genre-view {
  width: 150%;
  margin: 40px;
  padding: 40px;
}

#back-btn-2 {
  background-color: $main-color;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
  max-width: 100px;
  font-size: 25px;
  margin-top: 10px;
  float: right;
}

.genre-name {
  font-size: 40px;
}

.genre-description {
  font-size: 30px;
}

span {
  font-weight: 900;
}
