$main-color: #2565ae;

#btn-1 {
  background-color: $main-color;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  float: right;
}

#btn-1 {
  float: right;
}

#btn-3 {
  max-width: 300px;
  background-color: red;
  border: none;
  font-size: 25px;
  border-radius: 5px;
  float: right;
}

.tab {
  font-size: 25px;
  text-align: center;
}

.tabs {
  margin: 30px 0;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.field1 {
  margin-top: 35px;
}

.form-box label {
  text-align: center;
  font-size: 22px;
  font-weight: 900;
}

.form-box input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border: 0;
  border-radius: 5px;
  font-size: 23px;
  margin-bottom: 25px;
}

.form-box textarea {
  height: 15vh;
}

@media (max-width: 1000px) {
  .form-box input {
    padding: 0.9rem 1rem 0.9rem 1rem;
    font-size: 35px;
    margin-bottom: 30px;
  }

  .form {
    width: 70%;
  }

  .form-box label {
    font-size: 32px;
  }

  .field1 {
    margin-top: 55px;
  }

  .tab {
    font-size: 45px;
  }

  .tabs {
    margin: 30px 0;
    float: right;
  }

  #btn-3,
  #btn-1 {
    font-size: 38px;
    margin-bottom: 0px;
    border-radius: 5px;
    float: right;
    max-width: 450px;
  }
  #btn-3 {
    margin-top: 20px;
  }
}
