$main-color: #2565ae;

#btn-1,
#btn2 {
  background-color: $main-color;
  color: white;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  float: right;
}

#btn-1 {
  float: right;
}

#btn-3 {
  max-width: 300px;
  background-color: red;
  border: none;
  font-size: 25px;
  border-radius: 5px;
  float: right;
}

.tab {
  font-size: 25px;
  text-align: center;
}

.tabs {
  margin: 40px 0;
}

.fav-movie {
  margin-bottom: 20px;
}

@media (max-width: 1100px) {
  .form {
    font-size: 40px;
    margin: 50px;
  }
  .form-input {
    font-size: 40px;
  }
  #btn-3 {
    margin-top: -20px;
  }
}

@media (min-width: 1101px) {
  .form {
    font-size: 25px;
    margin: 30px 400px 0 400px;
  }
  .tabs {
    margin-bottom: 30px;
  }
}
