$main-color: #2565ae;

#back-btn {
  background-color: $main-color;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  border: none;
  float: right;
  margin: 80px 20px 0;
}

#fav-btn {
  background-color: $main-color;
  color: white;
  border-radius: 5px;
  font-size: 22px;
  border: none;
  margin: 80px 0 0;
}

.movie-info {
  margin: 10px;
}

.director-link:hover,
.genre-link:hover {
  text-decoration: none;
}

#movie-title {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
}

.movie-img {
  width: 95%;
  margin: 25px;
  border-radius: 15px;
}

.card-info {
  font-size: 25px;
}

.movie-view {
  max-width: 1000px;
  margin: 40px auto;
  padding: 10px;
}

@media (max-width: 1000px) {
  .movie-view {
    max-width: 930px;
    margin: 30px;
  }
  .movie-img {
    margin: 90px 20px;
  }

  #movie-title {
    font-size: 50px;
  }

  .card-info {
    font-size: 35px;
  }

  #fav-btn,
  #back-btn {
    font-size: 35px;
  }
}
