$main-color: #2565ae;

#back-btn {
  background-color: $main-color;
  color: white;
  border-radius: 5px;
  font-size: 19px;
  border: none;
  float: right;
  margin: 10px;
}

.movie-info {
  margin: 10px;
}

#movie-title {
  font-size: 30px;
  text-align: center;
}

.movie-img {
  max-width: 250px;
  margin: 20px;
}

.movie-view {
  margin-top: 50px;
  max-width: 750px;
  margin: 50px auto;
}

@media (max-width: 1000px) {
  #back-btn {
    font-size: 14px;
  }
}
