$main-color: #2565ae;

.container-list {
  max-width: 1600px;
}

.header {
  margin-left: 15px;
  margin-bottom: 10px;
}

#btnType {
  background-color: $main-color;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 5px;
}

.featured {
  margin-bottom: 40px;
}

#formSearch {
  margin: 20px 0px;
}

.movies-list {
  margin: 0 auto;
}

#searchBar {
  margin-left: 50px;
  padding: 20px;
  font-size: 22px;
}

@media (max-width: 1000px) {
  #searchBar {
    padding: 30px 20px;
    font-size: 32px;
  }
  #btnType {
    font-size: 30px;
  }

  .header {
    font-size: 60px;
  }

  .movies-list {
    margin-left: 100px;
  }
}
