$main-color: #2565ae;

.searchBar {
  text-align: right;
}

.container-list {
  max-width: 1400px;
}

#btnType {
  background-color: $main-color;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
}

#formSearch {
  margin: 20px 0;
}

#searchBar {
  margin-left: 50px;
}
