$main-color: #2565ae;

#form-field {
  font-size: 20px;
}

#form-label {
  text-align: left;
}

#bttn-1,
#btn-2 {
  background-color: $main-color;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
}

#bttn-1,
#btn-2 {
  margin: 10px 15px;
}

#acctt {
  margin-left: 200px;
}
