$main-color: #2565ae;

#bttn-1,
#btn-2 {
  background-color: $main-color;
  border-radius: 5px;
  border: none;
  color: white;
  text-decoration: none;
  font-size: 25px;
}

#bttn-1 {
  float: right;
}

.error {
  color: red;
  font-weight: 900;
  margin-bottom: 30px;
}

.acct {
  margin-right: 10px;
  font-size: 25px;
}

#bttn-1,
#btn-2 {
  margin: 10px 15px;
}

.form {
  width: 50%;
  margin: 0 auto;
}

.form-box label {
  font-size: 22px;
  font-weight: 100;
}

.form-box input {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border: 0;
  border-radius: 5px;
  font-size: 23px;
  margin-bottom: 35px;
}

.login {
  margin: 100px;
}
