$main-color: #2565ae;

#nav-bar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: $main-color;
  text-align: right;
}

#logo {
  color: white;
  font-size: 35px;
  font-weight: 900;
  margin-left: 30px;
}

.nav-item-logo {
  text-align: right;
}

#nav-link,
#nav-link-home {
  font-size: 30px;
  color: white;
}

.nav-item,
.nav-item-logo {
  font-size: 22px;
  margin-left: 10px;
}

.nav-stuff-2 {
  margin: 0 20px;
}

.nav-item:hover,
.nav-item-logo:hover {
  text-decoration: none;
}

.toggle {
  float: right;
}

@media (max-width: 1000px) {
  #logo {
    font-size: 40px;
  }
  .nav-item:hover {
    background-color: transparent;
    text-decoration: none;
  }

  #nav-link {
    font-size: 47px;
    margin: 10px 10px;
  }

  .nav-item,
  .nav-item-logo {
    font-size: 38px;
    padding: 0px;
  }
}
