$main-color: #2565ae;

#nav-bar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 40px;
}

.userIcon {
  margin-left: 20px;
}

#logo {
  color: $main-color;
  font-size: 30px;
  font-weight: 900;
}

#btn {
  background-color: $main-color;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 15px;
}

#nav-link {
  font-size: 15px;
  color: $main-color;
}

#search {
  margin: 17px 0;
}
