$main-color: #2565ae;

#nav-bar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0 40px;
}

.userIcon {
  margin: 15px 0 0 40px;
}

#logo {
  color: $main-color;
  font-size: 35px;
  font-weight: 900;
}

#btn {
  background-color: $main-color;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
}

#nav-link {
  font-size: 17px;
  color: $main-color;
  margin-top: 15px;
}

#search {
  margin: 18px 0;
}

.nav-item {
  color: $main-color;
  width: 140px;
  text-align: center;
}

.nav-item:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav-stuff-1,
  .nav-stuff-2 {
    text-align: left;
  }
  .nav-stuff-4 {
    float: left;
    margin: 0;
  }
}
